/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for main content */
.container {
  max-width: 90%  ; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 20px; /* Add space on the left and right */
}

/* Form styles */
form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

/* Pagination styles */
.pagination {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  border-radius: 4px;
}

.pagination .active a {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination-info {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}
